body { 
    margin: 0; 
}

a { 
    color: #50B6E5; 
}

.constr { 
    width: 1200px; 
    margin-left: auto; 
    margin-right: auto; 
}

.regist-head { 
    margin-top: 20px;
    height: 60px; 
    line-height: 60px; 
    color: #1c3761; 
    text-align: center;
}

.regist-head>span {
    font-size: 2.5em;
    font-weight: bold;
}

/* .regist-body { 
    min-height: 400px; 
    padding: 100px 0; 
    background-color: #fff; 
} */

.regist-main { 
    width: 600px; 
    margin-left: auto; 
    margin-right: auto; 
}

.regist-group { 
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.regist-label { 
    width: 70px; 
    padding-top: 10px; 
    float: left; 
}

.regist-cell { 
    /* display: table-cell;  */
    display: inline-block; 
    
}

.registInput { 
    height: 50px; 
    line-height: 18px; 
    width: 500px; 
    padding: 10px 5px; 
    margin: 0 10px 0 0; 
    border: 1px solid #d0d6d9; 
    vertical-align: top; 
    border-radius: 5px;
}

/* .regist-code-input { 
    width: 130px; 
} */

.registBtn{ 
    display: inline-block; 
    width: 160px; 
    line-height: 40px; 
    background-color: #1c3761; 
    color: #fff; 
    text-align: center; 
    text-decoration: none; 
}

.registBtn:hover { 
    background-color: rgb(222, 200, 33); 
}

/* .icon-warn { 
    display: inline-block; 
    width: 20px; 
    height: 21px; 
} */

.regist-star { 
    position: absolute; 
    margin-left: -1em;  
    color: #f30; 
}

.regist-remark { 
    margin-top: 10px;
    position: absolute;
    color: #666; 
}

.regist-warn { 
    color: #be3948; 
}

.regist-warn >.icon-warn { 
    position: absolute; 
}

