* {
    font-family: 'GmarketSans';
}

header {
    width: 80%;
    margin: 0 auto;
    color: #fff;
}

img {
    width: 50px;
    height: 50px;
}

.header_img {
    display: flex;
    align-items: center;
}


.header_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.header_login_btn {
    display: flex;
    gap: 10px;
}

main {
    margin: 50px 0;
    display: grid;
    grid-template-rows: 500px 100px;
    justify-items: center;
}

.main_list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_list_todo_tit {
    display: grid;
    grid-template-columns: 500px 200px;
    text-align: center;
    margin: 20px 0;
    gap: 10px;
    font-size: 22px;
}

.main_list_todo div,
.main_list_todate div {
    border-radius: 5px;
    border: 1px solid #0d6efd;
    color: #0d6efd;
    padding: 5px;
    text-align: center;
}

.main_list_todo_list {
    /* display: flex; */
    display: grid;
    grid-template-columns: 500px 200px;
    text-align: center;
    border-bottom: 1px solid #ededed;
    padding: 20px;
}


footer {
    margin: auto;
    background-color: #081742;
    color: white;
    opacity: 0.9;
    width: 100%;
    height: 100px;
    padding: 10px;
    font-size: 10px;
    overflow: auto;
}

.footer_text {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}


#modal {
	width: 100vw; 
	height: 100vh; 
	background-color: rgba(0, 0, 0, 0.5); 
	position: absolute;
	top: 0;
	z-index: 10;
}

.displayNone {
	display: none;
}

#modalW {
	width: 500px; 
	height: 500px;
	background-color: #0dcaf0; 	
}
