* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: #f7ddfb;
}

.text_align {
    text-align: center;
}

.header {
    height: 100px;
    padding-top: 20px;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: aliceblue;
    border-radius: 30px;
    width: 800px;
    margin: auto;
    line-height: 50px;
}

.list div {
    height: 50px;
}