* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-height: 100%; /*다시 검색해보기*/
    text-decoration: none;
    color: #fff;
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-weight: bold;
}

.timeDiv {
    background-color: rgba(80, 80, 80, 0.5);
    color: #fff;
    /* display: inline; */
    box-sizing: border-box;
    border-radius: 20px;
    width: 100px;
    height: 100px;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    padding-top: 20px;
}

body {
    background-image: url(/img/homework_img7.jpg);
    /* background-color: #000; */
    background-repeat: no-repeat;
    background-size: cover;
}

p {
    font-size: 50px;
}

table {
    width: 80%;
    height: 600px;
    margin: 0 auto;
    border-radius: 20px;
    background-color: rgba(80, 80, 80, 0.5);
}

a {
    color: #fff;
}

section {
    display: inline-block;
}

.main {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.head {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 80px;
    font-weight: bold;
    background-color: rgba(80, 80, 80, 0.5);
}

.text_align {
    text-align: center;
}

.main_txt {
    font-size: 20px;
}

.list_title {
    font-weight: bold;
    font-size: 30px;
    margin: 0 auto;
}

.page_btn {
    display: inline-block;
    margin-top: 10px;
    line-height: 50px;
    width: 50px;
    height: 50px;
    color: #fff;
    background-color: rgba(80, 80, 80, 0.5);
    border-radius: 5px;
    font-size: 20px;
}

.insert_btn {
    display: inline-block;
    line-height: 80px;
    width: 100px;
    height: 80px;
    background-color: rgba(80, 80, 80, 0.5);
    border-radius: 5px;
    font-size: 20px;
}

.insert_btn2 {
    left: 100px;
}

/* insert */

.insert_memo {
    background-color: transparent;
    width: 500px;
    height: 500px;
    font-size: 2rem;
}

.form_txt>input {
    background-color: transparent;
    width: 500px;
    height: 50px;
    font-size: 2rem;
    margin-top: 20px;
}

.form_txt>label {
    font-size: 30px;
    text-align: center;
}

.insert_form {
    width: 50%;
    height: 600px;
    margin: 0 auto;
    border-radius: 20px;
    text-align: center;
    background-color: rgba(80, 80, 80, 0.5)
}

.form_btn>button, .form_btn>a {
    border: 0;
    outline: 0;
    font-size: 20px;
    display: inline-block;
    line-height: 70px;
    width: 70px;
    height: 70px;
    background-color: rgba(80, 80, 80, 0.5);
    border-radius: 5px;
}

/* detail */

.detail_table {
    font-size: 20px;
    width: 60%;
    height: 600px;
}

/* .detail_table>tr>th {
    font-size: 40px;
} */

.detail_btn {
    display: inline-block;
    /* margin-top: 10px; */
    line-height: 50px;
    width: 50px;
    height: 50px;
    color: #fff;
    background-color: rgba(80, 80, 80, 0.5);
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}

/* update */

/* .update_div {
    width: 50%;
    height: 600px;
    margin: 0 auto;
    border-radius: 20px;
    text-align: center;
    background-color: rgba(80, 80, 80, 0.5)
} */

.update_form {
    width: 50%;
    height: 600px;
    margin: 0 auto;
    border-radius: 20px;
    text-align: center;
    /* background-color: rgba(80, 80, 80, 0.5) */
}

.update_table>tr>th {
    width: 50px;
}

.update_table>tr>td {
    width: 400px;
}

.update_input, .update_memo {
    background-color: transparent;
}

.update_input {
    width: 500px;
    height: 10px;
    font-size: 20px;
}

.update_memo {
    margin-top: 10px;
    width: 500px;
    height: 200px;
    font-size: 20px;
}

.update_btn {
    text-align: center;
    margin-top: 10px;
}

.update_btn>button, .update_btn>a {
    border: 0;
    outline: 0;
    font-size: 20px;
    display: inline-block;
    line-height: 70px;
    width: 70px;
    height: 70px;
    background-color: rgba(80, 80, 80, 0.5);
    border-radius: 5px;
    text-align: center;
}

/* delete */

caption {
    /* width: 100%; */
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 80px;
    font-weight: bold;
    border-radius: 20px;
    background-color: rgba(80, 80, 80, 0.5);
}

.delet_table {
    font-size: 20px;
}

.delet_div {
    text-align: center;
}

.delet_form>button, .delet_form>a {
    border: 0;
    outline: 0;
    margin-top: 10px;
    font-size: 20px;
    display: inline-block;
    line-height: 70px;
    width: 70px;
    height: 70px;
    background-color: rgba(80, 80, 80, 0.5);
    border-radius: 5px;
    text-align: center;
}