* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-height: 100%; /*다시 검색해보기*/
    text-decoration: none;
}

body {
    /* background-image: url(/homework/doc/img/나만없어고양이_pc.jpg); */
    background-color: #000;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: #fff;
}

p {
    font-size: 50px;
}

table {
    width: 1000px;
    height: 600px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255, 0.2);
    margin-left: auto;
    margin-right: auto;
}

a {
    color: #fff;
}

section {
    display: inline-block;
}

.text_align {
    text-align: center;
}

.list_title {
    font-weight: bold;
    font-size: 20px;
}

.tab_main {
    margin-left: 150px;
    margin-top: 70px;
}

.page_btn {
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    background-color: rgba(80, 80, 80, 0.5);
    border-radius: 5px;
    font-size: 20px;
}


/* insert */

textarea {
    background-color: transparent;
}

form {
    text-align: center;
}