* {
	margin: 0;
	padding: 0;
	font-family: 'IBM Plex Sans KR', sans-serif;
	list-style: none;
	/* text-decoration: none; */
	border-collapse: collapse;
}

a { 
	text-decoration: none;
}

.header {
	width: 100%;
	margin: auto;
	
}

.coupon {
	background-color: rgb(222, 200, 33);
	height: 40px;
	color: #fff;
}

.nav1 .searchBtn {
	color: #1c3761;
}

.loginNav {
	display: flex;
	height: 60px;
	justify-content: flex-end;
}

.loginNavMenu {
	float: left;
	margin: 20px;
}

.searchBtn {
	margin: 20px;
}

.productNav {
	background-color: #1c3761;
	color: #fff;
	height: 60px;
}

.productNavMenu {
	float: left;
	margin: 18px;
}

.nav2Border {
	background-color: #fff;
	margin-right: 5px;
	display: inline-block;
	border-radius: 5px;
	text-align: center;
	line-height: 40px;
	width: 200px;
	height: 40px;
	
}

.productNav>div {
	display: flex;
	justify-content: flex-end;
	padding-top: 10px;
}

/* 메인상품 영역 */

.mainImg>img {
	width: 100%;
}



.mainProduct {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 1rem;
	text-align: center;
	
}




/* 푸터 */

.footer {
	background-color: black;
	color: #fff;
	text-align: center;
	line-height: 50px;
	height: 50px;
	position: fixed;
	bottom: 0;
	width: 100%;
}