.deco {
    text-decoration: none;
    text-decoration: underline;
    text-decoration: line-through;
}

.height {
    line-height: 50px;
    line-height: 2em;
}
/* 보통 em이나 rem으로 많이 사용 */

.left {
    text-align: left;
}
.right {
    text-align: right;
}
.center {
    background-color: cadetblue;
    height: 300px;
    line-height: 300px;
    text-align: center;
}
